* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #ffc107; /* couleur 'warning' de Bootstrap */
    padding: 4px 8px;
    border-radius: 50px;
}

.logo-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6px;
}

.icon {
    width: 14px;
    height: 20px;
    background-color: #2d88ff;
    border-radius: 4px;
    position: relative;
    margin-bottom: 4px;
}

.icon::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 2px;
    width: 10px;
    height: 4px;
    background-color: #ffeb3b;
    border-radius: 2px;
}

.icon-base {
    width: 20px;
    height: 4px;
    background-color: #2d88ff;
    border-radius: 5px;
}

.logo-text {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.tower {
    color: #2d88ff;
}
